#nav-bar {
  position: fixed;
  top: 0;
  height: 80px;
  background-color: #00a087;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  order: 1;
}

#nav-bar .header {
  font-size: 2em;
  line-height: 80px;
  padding-left: 10px;
  order: 2;
}

#nav-bar .userstatus {
  line-height: 80px;
  font-size: 0.7em;
  margin-left: 20px;
  flex-grow: 1;
  order: 4;
}

#nav-bar .nav-buttons {
  font-size: 1.5em;
  line-height: 80px;
  padding-left: 10px;
  order: 3;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

#nav-bar .nav-buttons .button {
  color: #09A58D;
  background-color: #E7FDFF;
  line-height: 60px;
  margin: 10px;
  padding: 0 10px;
  border: 2px solid black;
  border-radius: 5px;
}

#nav-bar .nav-buttons .button.compose {
  margin-right: 60px;
  margin-left: 60px;
}

#nav-bar .nav-buttons .button.register, #nav-bar .nav-buttons .button.login, #nav-bar .nav-buttons .button.logout {
  font-size: 0.6em;
  line-height: 20px;
  color: #09A58D;
  padding: 10px;
  margin: 20px 10px;
}

#nav-bar .nav-buttons .button:hover {
  color: black;
  background-color: #FFFFFF;
  cursor: pointer;
}

.color-danger {
  color: red;
}
