.new-tweet {
    /*width: 400px;*/
    background-color: #EEEEEE;
    margin: auto;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
}

.new-tweet h2 {
  border-bottom: 1px solid black;
  margin: 0 0 20px;
}

.new-tweet textarea {
  width: 100%;
  display: block;
  margin-bottom: 3px;
  padding: 8px;
}

.new-tweet input {
  float: left;
}

.new-tweet .counter {
  float: right;
  font-style: italic;
  margin-right: 10px;
}

.tweetpost {
  background-color: white;
  margin: 30px auto 20px;
  border: 1px solid #5D5D5D;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.tweetpost header {
  background-color: #EEEEEE;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px 10px;
}

.tweetpost img {
  border-radius: 5px;
  height: 40px;
  width: 40px;
  flex-grow: 0;
}

.tweetpost .name {
  margin: 0;
  padding-left: 10px;
  flex-grow: 1;
  align-self: flex-start;
}

.tweetpost .handle {
  flex-grow: 0;
  padding-top: 5px;
  align-self: flex-start;
}

.tweetpost .message {

  width: 100%;
  padding: 30px 20px 30px;
  background-color: white;
  border-bottom: 1px solid lightgrey;
}

.tweetpost footer {
  /*font-size: 12px;
  width: 100%;
  background-color: white;
  padding: 15px 20px 15px;*/
  display: flex;
  flex-direction: row;
}

.tweetpost .timestamp {
  font-size: 12px;
  width: 100%;
  background-color: white;
  padding: 15px 20px 15px;
}

.tweetpost .icons {
  font-size: 12px;
  width: 100%;
  background-color: white;
  padding: 10px 20px 10px 0;
  justify-content: flex-end;
  display: flex;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.tweetpost:hover .icons {
  opacity: 1;
}

.tweetpost .icons i {
  font-size: 16px;
  color: #66C5B7;
  padding: 5px 0 0 10px;
}
